      <div class='header'>
        <img src='/avatar.png' style='margin-right: 20px; border-radius: 52px;'>
        <h2>you@thepixelguy:~$ <div id='blinkingcursor' style='display: inline;'>█</div></h2>
        <p><i style='font-size: 11px;'>it is now pitch black. if you proceed, you are likely to be eaten by a grue.</i></p>
        <div class='nav'>
          <ul>
            <li><a href='/'>H O M E</a></li>
            <li><a href='/games'>G A M E S</a></li>
            <li><a href='/blog'>B L O G</a></li>
            <li><a href='/contact'>C O N T A C T</a></li>
          </ul>
        </div>
      </div>
