      <div class='header'>
        <img src='/avatar.png' style='margin-right: 20px; border-radius: 52px; border: 2px dotted #333;'>
        <h2>you@thepixelguy:~$ <div id='blinkingcursor' style='display: inline;'>█</div></h2>
        <p><i style='font-size: 11px;'>it is now pitch black. if you proceed, you are likely to be eaten by a grue.</i></p>
        <div class='nav'>
          <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/games'>Games</a></li>
            <li><a href='/blog'>Blog</a></li>
            <li><a href='/contact'>Contact</a></li>
          </ul>
        </div>
      </div>
