<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>thepixelguy</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/darkly.css" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" type="image/ico" href="/favicon.ico">
  </head>
  <body>
  
    <div class='container'>
      
      {% include header.html %}
      
      {{ content }}
            
      {% include footer.html %}

    </div>
    
  </body>
</html>

{% include scripts.html %}