<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>thepixelguy</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/darkly.css" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="thepixelguy's blog" href="{{ site.url }}/feed/">
  </head>
  <body>

    {% include header.html %}
  
  <div class='container'>

    <div class='main'>
      
      <section class='main'>

      {{ content }}

      </section>
      <div style="clear:both"></div>

    </div>

    {% include footer.html %}

  </div>
    
  </body>
</html>

{% include scripts.html %}
