<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>thepixelguy</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/darkly.css" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" type="image/ico" href="/favicon.ico">
  </head>
  <body>
  
    <div class='container'>
      
      {% include header.html %}
      
      <h2><a href='{{ page.url }}'>{{ page.title }}</a></h2>
      <small><i style='color: #aaa;'>Posted on {{ page.date | date_to_string }} by {{ page.author }}</i></small>

      <div markdown="1">{{ page.content | markdownify }}</div>
      
      {% include footer.html %}

    </div>
  
  </body>
</html>

{% include scripts.html %}